# dependencies
/client/node_modules
/server/node_modules

# build output
/server/dist

# uploaded files
/client/public/pictures
/server/uploads

# environment variables
.env

# IDE files
/.vscode
/.idea

# OS files
.DS_Store
